#descriptionDiv {
  position: fixed;
  top: 25%;
  width: 90vw;
  max-width: 1000px;
  background-color: #ffffff;
  border-radius: 10px;
  left: 50%;
  height: fit-content;
  max-height: 90vh;
  transform: translate(-50%, -50%) scale(0.01);
  padding: 2rem 30px;
  box-shadow: 0 0 2px gray;
  z-index: 50;
  transition: transform 0.5s, top 0.5s, visibility 0.5s;
  visibility: hidden;
}

#descriptionDiv h3{
  max-width: 200px;
}
#container {
  padding: 5px;
  max-height: 82.5vh;
  overflow-y: scroll;
}
.generalInfo {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  box-shadow: 0 0 2px gray;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
}

.description {
  text-align: justify;
  line-height: 2;
}

#descriptionDiv img {
  height: 200px;
  width: 130px;
}

#container::-webkit-scrollbar {
  display: none;
}

#container::-webkit-scrollbar-thumb {
  background-color: #0073ff;
  border-radius: 2px;
}

#crossButton {
  position: absolute;
  right: 10px;
  top: 5px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #0073ff;
  text-shadow: 1px 1px 3px #0073ff;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;
}

#crossButton:hover {
  text-shadow: 1px 1px 5px #0073ff;
}

.authorName {
  color: gray;
}

#descriptionDiv.visible {
  transform: scale(1) translate(-50%, -50%);
  top: 50%;
  visibility: visible;
}

#descriptionDiv.none {
  transform: translate(-50%, -50%) scale(0.1);
  top: 25%;
  visibility: hidden;
}

@media (width<500px) {
  .infoContainer {
    text-align: center;
  }
  .generalInfo {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }
  .info {
    display: flex;
  }
  .description {
    line-height: 1.25;
  }
}
