#mainBody {
  padding: 0.5rem;
}

/* search bar stylings  */

input[type="search"] {
  outline: none;
  width: 90%;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-right: none;
}

#searchBar {
  margin: auto;
  max-width: 500px;
  width: 80vw;
}

#searchIconContainer {
  width: 10%;
  border-radius: 0 20px 20px 0;
  border: 1px solid #ccc;
  border-left: none;
}

#searhIcon {
  height: 25px;
  cursor: pointer;
  transition: filter 0.3s ease-in;
}

#searhIcon:hover {
  filter: brightness(500%);
}

#welcomeDiv {
  text-align: center;
  margin-top: 5vh;
}

/* loading animation stylings */
.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 149, 255, 0.696);
  border-top-color: #0073ff;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

#loading {
  height: 40vh;
  width: 100%;
}

/* spin animation  */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width < 800px) {
  #bookContainer h3 {
    text-align: center;
  }
}
