#navBar {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

#logo {
  height: 80px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.03);
}
